.admin {
    width: 100%;
    padding: 5%;
    text-align: center;
}

.container-custom {
    width: 100%;
    padding: 5%;
}

.container-custom-inner {
    padding: 5%;
    padding-top: 0px;
}

.container-button {
    text-align: center;
    width: 100%;
}

table th:first-child {
    border-top-left-radius: 16px;
}

table th:last-child {
    border-top-right-radius: 16px;
}

th {
    background-color: lightskyblue;
    text-align: center;
    cursor: pointer;
}

tr {
    cursor: pointer;
    height: 4vh;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}

tr:nth-child(even) {
    background-color: white;
}

tr:hover {
    background-color: silver;
}

td {
    border-bottom: 1px solid black;
    text-align: center;
}

.roles {
    padding-left: 0px;
    text-align: left;
}

.roles li {
    display: inline;
}

.roles li:after {
    content: ", ";
}

.roles li:last-child:after {
    content: "";
}

.pagination {
    display: block;
    text-align: center;
}

.button-admin {
    text-align: center;
    width: 30%;
    font-size: 100%;
    margin: 5px;
}

.button-pagination {
    background-color: lightskyblue;
    width: 4vw;
    border-radius: 4px;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.hidden {
    display: none;
}

.right {
    position: fixed;
    right: 0;
    margin-right: 4vw;
    margin-top: 2vw;
}

@media screen and (max-width: 512px) {

    .admin {
        padding: 0px;
    }
    .container-button {
        width: auto;
        padding-top: 5px;
    }    

    tr {
        height: 6vh;
    }

    .container-custom {
        height: 86vh;
        padding: 0px;
    }
    
    .button-admin {
        margin-bottom: 5px;
        width: 80%;
        font-size: 100%;
    }

    .button-pagination {
        width: 10vw;
        border-radius: 4px;
        margin-top: 5px;
        margin-left: 2px;
        margin-right: 2px;
    }
}