.menu {
    background-color: lightgray;
    position: fixed;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100vh;
    opacity: 0.98;
    border: 1px solid black;
}

.mask {
    background-color: dimgray;
    left: 0;
    width: 30vw;
    opacity: 0.6;
}

.link > .nav-link {
    opacity: 1;
    background-color: lightpink;
    text-transform: uppercase;
    border: 1px solid black;
    color: black !important;
    border-radius: 10px;
    margin: 4vw;
    font-weight: bold;
    font-size: 3vh;
}

.top {
    position: fixed;
    top: 0;
    margin-top: 5vh;
}

.bottom {
    position: fixed;
    bottom: 0;
    margin-bottom: 5vh;
}