.menu {
    background-color: lightgray;
    position: fixed;
    display: inline-flex;
    bottom: 0;
    width: 100vw;
    height: 14vh;
    opacity: 0.98;
    align-items: center;
    z-index: 1;
}

.mask {
    background-color: dimgray;
    top: 0;
    width: 100vw;
    height: 86vh;
    opacity: 0.6;
}

.menu-element {
    background-size: 75%;
    background-position: center 1%;
    background-repeat: no-repeat;
    width: 25vw;
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: darkslategray;
    border-right: 1px solid gray;
    border-radius: 10px;
}

.menu-element-text {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bar-element-text {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

