.front {
    z-index: 1;
    position: absolute;
    opacity: 0.98;
    align-items: center;
}

.menu {
    display: inline-flex;
    background-color: lightgray;
    height: 16vh;
}

.menu-relative {
    position: relative;
}

.menu-fixed {
    position: fixed;
    bottom: 0;
}

.mask {
    position: relative;
    background-color: dimgray;
    height: 84vh;
    opacity: 0.6;
}

.menu-element {
    background-size: 75%;
    background-position: center 1vh;
    background-repeat: no-repeat;
    width: 25vw;
    margin: 0 auto;
    text-align: center;
    color: darkslategray;
    border-right: 1px solid gray;
    border-radius: 10px;
    position: relative;
}

.menu-element-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bar-element-text {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

