.roll-dice-button {
  border-radius: 5px;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  grid-column-start: 6;
  grid-row-start: 1;
  grid-row-end: 8;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1.3em;
  font-size: 18px;

}

.one-left {
  background-image: linear-gradient(rgba(255, 255, 255, 1) 66.6%,
      rgba(255, 255, 255, 0) 66.6%,
      rgba(255, 255, 255, 0) 0%);
}

.two-left {
  background-image: linear-gradient(rgba(255, 255, 255, 1) 33.3%,
      rgba(255, 255, 255, 0) 33.3%,
      rgba(255, 255, 255, 0) 0%);
}

.none-left {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 0%);
}